$color-env          : #0077B2;
$color-env2         : darken($color-env, 3%);
$color-flap         : darken($color-env, 20%);
$color-bg           : lighten($color-env, 48%);
$color-heart        : #D00000; 

$env-border-radius  : 6px;
$env-width          : 280px;
$env-height         : 180px;
$heart-width        : 50px;


@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');

  /* colors */
  $body-bg: #FAFAFA;
  $page-bg: #F5F5F5;
  $dark-text: #2A2935;
  
  /* spacing */
  /* this is what defines the global scale */
  $baseline: 12px;
  
  /* fonts */
  $book-title: 'Tulpen One', sans-serif;
  $title: 'Cormorant Garamond', serif;
  $body: 'Cormorant Garamond', serif;
  $base-size: $baseline * 1.2;

.main {
    position: relative;
}

#envelope {
    position: relative;
    width: $env-width;
    height: $env-height;
    border-bottom-left-radius: $env-border-radius;
    border-bottom-right-radius: $env-border-radius;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    background-color: $color-flap;
    box-shadow: 0 4px 20px rgba(0,0,0,.2);
}

.front { 
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}

.flap {
    border-left: ($env-width / 2) solid transparent;
    border-right: ($env-width / 2) solid transparent;
    border-bottom: ($env-height / 2) - 8 solid transparent; /* a little smaller */
    border-top: ($env-height / 2) + 8 solid $color-flap; /* a little larger */
    transform-origin: top;
    pointer-events: none;
}

.pocket {
    border-left: ($env-width / 2) solid $color-env;
    border-right: ($env-width / 2) solid $color-env;
    border-bottom: ($env-height / 2) solid $color-env2;
    border-top: ($env-height / 2) solid transparent;
    border-bottom-left-radius: $env-border-radius;
    border-bottom-right-radius: $env-border-radius;
}

.letter {
    position: relative;
    background-color: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 5%;
    border-radius: $env-border-radius;
    box-shadow: 0 2px 26px rgba(0,0,0,.12);
}

.letter:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: 
        linear-gradient(180deg, 
        rgba(255,255,255,0.00) 25%, 
        rgba(215,227,239,0.70) 55%, 
        rgba(215,227,239,1.00) 100%);
}

.words {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    background-color: #EEEFF0;
}
.words.line1 {
    top: 15%;
    width: 20%;
    height: 7%;
}
.words.line2 {
    top: 30%;
}
.words.line3 {
    top: 50%;
}
.words.line4 {
    top: 70%;
}
.open .flap {
    transform: rotateX(180deg);
    transition: transform .4s ease, z-index .6s;
    z-index: 1;
}
.close .flap {
    transform: rotateX(0deg);
    transition: transform .4s .6s ease, z-index 1s;
    z-index: 5;
}
.close .letter {
    transform: translateY(0px); 
    transition: transform .4s ease, z-index 1s;
    z-index: 1;
}
.open .letter {
    transform: translateY(-150px);
    transition: transform .4s .6s ease, z-index .6s;
    z-index: 2;
}
.hearts {
    position: absolute;
    top: ($env-height / 2);
    left: 0;
    right: 0;
    z-index: 2;
}
.heart {
    position: absolute;
    bottom: 0;
    right: 10%;
    pointer-events: none;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: $heart-width;
    top: 0;
    width: $heart-width;
    height: ($heart-width * 1.6);
    background: $color-heart;
    border-radius: $heart-width $heart-width 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    pointer-events: none;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.close .heart {
    opacity: 0;
    animation: none;
}

.a1 {
    left: 20%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-animation: 
        slideUp 4s linear 1, 
        sideSway 2s ease-in-out 4 alternate;
    -moz-animation: 
        slideUp 4s linear 1, 
        sideSway 2s ease-in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}
.a2 {
    left: 55%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-animation: 
        slideUp 5s linear 1, 
        sideSway 4s ease-in-out 2 alternate;
    -moz-animation: 
        slideUp 5s linear 1, 
        sideSway 4s ease-in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}
.a3 {
    left: 10%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
    -webkit-animation: 
        slideUp 7s linear 1, 
        sideSway 2s ease-in-out 6 alternate;
    -moz-animation: 
        slideUp 7s linear 1, 
        sideSway 2s ease-in-out 6 alternate; 
    animation-fill-mode: forwards;
    animation-delay: .7s;
}

@-webkit-keyframes slideUp { 
    0% { 
        top: 0;
    }
    100% { 
        top: -600px;
    }
}
@keyframes slideUp {     
    0% { 
        top: 0;
    }
    100% { 
        top: -600px;
    }
}
@-webkit-keyframes sideSway { 
    0% { 
        margin-left: 0px;
    }
    100% { 
        margin-left: 50px;
    }
}
@keyframes sideSway {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

body {
    background-color: $color-bg;
}

.envlope-wrapper {
    height: ($env-height + 200px);
    opacity: 1;
    transition: opacity .5s;
    top: 100px;
    position: relative;

    &.hide {
        opacity: 0;
    }

    &.hide2 {
        display: none;
    }
}


.my-class {
    .letter {
        animation: customAni 3s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 normal forwards;
    }
}

@keyframes customAni {
    0% {
        transform: scale(1);
        opacity: 1;
        top: -150px;
        z-index: 5;
    }

    30% {
        top: 0px;
        z-index: 5;
        opacity: 1;
    }

    50% {
        transform: scale(2);
        z-index: 5;
        opacity: 1;
    }

    90% {
        top: 0px;
        opacity: 1;
        z-index: 5;
        transform: scale(2);
    }

    100% {
        transform: scale(2);
        top: 0px;
        opacity: 0;
        z-index: 5;
    }
}


@keyframes customAni2 {
    0% {
      opacity: 1;
    }
  
    100% {
        opacity: 0;
    }
}

* {
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover {
    top: 30px;
    width: 720px;
    margin: 0 auto 30px;
    // height: 520px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .3);
    position: relative;
    display: none;

    &.show {
        display: block;
        animation: coverani 2s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal forwards;

        @keyframes coverani {

            0% {
                transform: scale(0.5);
                opacity: 0;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}
img {
    width: 100%;
    height: 100%;
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 1200px;
  
  &__page {
    position: relative;
    width: 50%;
    height: 100%;
    display: grid;
    transform: rotateY(0deg);
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: 0% 0%;
    background-color: $page-bg;
    background-image: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);
    
    &:nth-of-type(1) {
      background-image: linear-gradient(-90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);
    }

    &--1 {
      cursor: pointer;
      overflow: hidden;
      
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    
    &--2 {
      position: absolute;
      right: 0;
      pointer-events: none;
      transform-style: preserve-3d;
      background-color: $page-bg;
      background-image: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);
    }
    
    &--4 {
      cursor: pointer;
    }
    
    &-front {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotateY(0deg) translateZ(1px);
    }
    
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotateY(180deg) translateZ(1px);
    }
  }
  
  input[type="radio"] {
    display: none;
    
    &:checked+.book__page {
      transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
      transform: rotateY(-180deg);
    }
  }
}

@media screen and (max-width: 720px) {
    .main {
        padding: 10px;
        box-sizing: border-box;

        .cover {
            width: 100%;
            height: 100%;
            top: 180px;
        }
    }
}